.city {
    margin-top: 180px;
    color: white;
}


.icon:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: .5s;
    color: lightgreen;
}

.warnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .closeIcon {
        margin: 0px 0 0 5px;
        color: #ff8e8e;
    }
    
    .closeIcon:hover {
        cursor: pointer;
        transform: scale(1.3);
        transition: .5s;
        color: red;
        margin-top: 5px;
    }
    
    .warn {
        color: #ff8e8e;;
    }
    
    .warn:hover {
        cursor: pointer;
        text-decoration: line-through;
    }
}