.app {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  max-width: 350px;
  height: 80%;
  background-image: url('./assets/night.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}